@model IEnumerable<ThinkEMR_Care.Core.Models.Departments>
@{
    ViewData["Title"] = "Departments";
}

<div id="partialZone">
</div>

@section Scripts{
    <script>
        $('#partialZone').load("/Profile/ProfilePartial")
    </script>
    <script>
        $('#adddepartment').load("/Departments/CreatePartial")
    </script>
   <script>
        $('#editdepartment').load("/Departments/DetailsPartial")
    </script>
   
}
<br />
<div>
    <h4 style="float: left;"><b>Departments</b></h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float: right;">Add Departments</button>
</div>
<br />
<br />
<div>
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th>Department Id</th>
                <th>Department Name</th>
                <th>Department Admin</th>
                <th>Contact</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center" data-asset-id="@item.Id" data-asset-speciality="@item.DepartmentId" data-asset-type="@item.DepartmentName" data-asset-type="@item.DepartmentAdmin" data-asset-type="@item.ContactNumber" >
                    <td>
                        @item.DepartmentId
                    </td>
                    <td>
                        @item.DepartmentName
                    </td>
                    <td>
                        @item.DepartmentAdmin
                    </td>
                    <td>
                        @item.ContactNumber
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>*@
                    <td>
                        <div class="form-check form-switch">
                            <input id="statusCheckbox" class="form-check-input" type="checkbox" @* @(data.Status == true ? "checked" : "")*@>
                        </div>
                    </td>
                    <td>
                        <i class="bi bi-pencil" data-bs-toggle="modal"  id="editButton" onclick="Edit('@item.Id')"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="adddepartment">
</div>
<div id="editdepartment">
</div>

<script>
    function Edit(id) {
        $.ajax({
            url: '/Departments/Edit/' + id,
            type: "Get",
            contentType: 'application/json;charset=utf-8',
            dataType: 'json', // Use 'dataType' instead of 'datatype'
            success: function (data) {
               
                $('#staticEditBackdrop').modal('show');
                $('#staticEditBackdrop').on('shown.bs.modal', function () {

                    $('#editId').val(data.id);
                    $('#editDepartmentId').val(data.departmentId);
                    $('#editDepartmentName').val(data.departmentName);
                    $('#editDepartmentAdmin').val(data.departmentAdmin);
                    $('#editContact').val(data.contactNumber);
                   
                    if (data.status) {
                        $("#Status").attr('checked', 'checked')
                    }
                })
            },
            error: function () {
                alert('Failed to retrieve departments data.');
            }
        });
    }
    function closeModal() {
        $('#staticEditBackdrop').modal('hide');
    }
</script>