@model IEnumerable<ThinkEMR_Care.Core.Models.AdminDashboard>

@{
    ViewData["Title"] = "Index";
}
<style>
    .card {
        top: 5px;
        left: 5px;
        width: 240px;
        height: 134px;
        /* UI Properties */
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 10px;
        opacity: 1;
    }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: 10px; /* Add margin to separate title from text */
    }

    .card-text {
        font-size: 1.5rem;
        color: #007bff;
    }

    .date-range-button {
        top: 111px;
        left: 1705px;
        width: 179px;
        height: 42px;
        /* UI Properties */
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 8px #00000029;
        border-radius: 5px;
        opacity: 1;
    }

    .text-center {
        text-align: center;
    }

    .popup {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
    }
        /* Additional styling as per your requirements */
        .popup h1 {
            font-size: 18px;
        }

    /* Styling for radio buttons and labels */
    input[type="radio"] {
        margin-right: 5px;
    }

    /* Style for the Cancel button */
    #cancelDateRangeBtn {
        display: none;
        background-color: #ccc;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    .button-size {
        width: 100px;
        height: 40px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-2 {
        flex: 1;
        min-width: 0;
    }

    
</style>
<br>
<div>
    <h4 style="float: left;"><b>Dashboard</b></h4>
</div>
<div>
    <div class="float-end">
        <button id="dateRangeFilterBtn" class="btn  date-range-button"><i class="bi bi-calendar4-event"></i>Date Range</button>
        <div id="dateRangePopup" class="popup">
            <h1>Calander Range</h1>
            <input type="radio" id="thisMonthRadio" name="dateRange" value="thisMonth">
            <label for="thisMonthRadio">Month</label><br>

            <input type="radio" id="allTimeRadio" name="dateRange" value="allTime">
            <label for="allTimeRadio">All Time</label><br>
            <div id="datepickerContainer" style="display: none;">
                <label for="datepicker">Select a Date:</label>
                <input type="date" id="datepicker">
            </div>
            <button id="applyDateRangeBtn" class="btn btn-success">Apply</button>
            <button id="cancelDateRangeBtn" class="btn btn-danger">Cancel</button>
        </div>
    </div><br><br>

    <div>
        <div class="row">
            <div class="col-md-2 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div style="text-align: left;">
                                <img src="~/ProviderGroups.jpg" alt="Provider Group" style="border-radius: 50%; width: 100px; height: 100px;">
                            </div>
                            <div style="text-align: right;">
                                <p class="card-text" style="margin:0;">255</p>
                                <h5 class="card-title" style="margin:0;">Provider Groups</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div style="text-align: left;">
                                <img src="~/ProvidersUp.jpg" alt="Provider Group" style="border-radius: 50%; width: 100px; height: 100px;">
                            </div>
                            <div style="text-align: center;">
                                <p class="card-text" style="margin:0;">285</p>
                                <h5 class="card-title" style="margin:0">Provider</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div style="text-align: left;">
                                <img src="~/Paitent.jpg" alt="Provider Group" style="border-radius: 50%; width: 100px; height: 100px;">
                            </div>
                            <div style="text-align: right;">
                                <p class="card-text" style="margin:0;" >250</p>
                                <h5 class="card-title" style="margin:0">Patients</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div style="text-align: left;">
                                <img src="~/Appointments.jpg" alt="Provider Group" style="border-radius: 50%; width: 100px; height: 100px;">
                            </div>
                            <div style="text-align: right;">
                                <p class="card-text" style="margin:0">285</p>
                                <h5 class="card-title" style="margin:0;">Appointments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div style="text-align: left;">
                                <img src="~/EncounterUp.jpg" alt="Provider Group" style="border-radius: 50%; width: 100px; height: 100px;">
                            </div>
                            <div style="text-align: right;">
                                <p class="card-text" style="margin:0">285</p>
                                <h5 class="card-title" style="margin:0">Encounters</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br />


        <div>
            <div>
                <table class="table table-hover ">
                    <thead class="table-active">
                        <tr class="text-center" style=" background-color: #E1F5FE;">
                            <th>GroupId</th>
                            <th>Provider Group Name</th>
                            <th>Speciality</th>
                            <th>Providers Count</th>
                            <th>Patients Count</th>
                            <th>Appointment Count</th>
                            <th>Encounter Count</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="assetsTableBody">
                        @foreach (var data in Model)
                        {
                            <tr class="text-center" data-asset-id="@data.GroupId" data-asset-name="@data.ProviderGroupName" data-asset-city="@data.Speciality" data-asset-country="@data.ProvidersCount" data-asset-status="@data.PatientsCount" data-asset-status="@data.AppointmentCount" data-asset-status="@data.EncounterCount" data-asset-status="@data.Status">
                                <td>@data.GroupId</td>
                                <td>@data.ProviderGroupName</td>
                                <td>@data.Speciality</td>
                                <td>@data.ProvidersCount</td>
                                <td>@data.PatientsCount</td>
                                <td>@data.AppointmentCount</td>
                                <td>@data.EncounterCount</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input id="statusCheckbox" class="form-check-input" type="checkbox" @(data.Status == true ? "checked" : "")>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#assetsTableBody").click(function () {
                $.ajax({
                    url: "https://localhost:7286/api/DashboardDetails/DashboardDetails",
                    type: "GET",
                    success: function (data) {
                        $("#assetsTableBody").html(data);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var $dateRangeFilterBtn = $('#dateRangeFilterBtn');
            var $dateRangePopup = $('#dateRangePopup');
            var $cancelDateRangeBtn = $('#cancelDateRangeBtn');
            var $applyDateRangeBtn = $('#applyDateRangeBtn');
            var $datepickerContainer = $('#datepickerContainer');
            var $datepicker = $('#datepicker'); // Added date picker input field

            $dateRangeFilterBtn.click(function () {
                $dateRangePopup.show();
                $cancelDateRangeBtn.show(); // Show the Cancel button
            });

            $applyDateRangeBtn.click(function () {
                var selectedOption = $('input[name="dateRange"]:checked');
                if (selectedOption.length > 0) {
                    var dateRange = selectedOption.val();
                    if (dateRange === 'thisMonth') {
                        var selectedDate = $datepicker.val();
                        console.log("Selected Date: " + selectedDate);
                    } else {
                        console.log("Selected Date Range: " + dateRange);
                    }
                }

                $dateRangePopup.hide();
                $cancelDateRangeBtn.hide();
            });

            $cancelDateRangeBtn.click(function () {
                $dateRangePopup.hide();
                $cancelDateRangeBtn.hide();
            });

            $('input[name="dateRange"]').change(function () {
                if (this.value === "thisMonth") {
                    $datepickerContainer.show();
                } else {
                    $datepickerContainer.hide();
                }
            });

            // Close the popup when clicking outside
            $(document).mouseup(function (e) {
                if (!$dateRangePopup.is(e.target) && !$dateRangeFilterBtn.is(e.target) && $dateRangePopup.has(e.target).length === 0) {
                    $dateRangePopup.hide();
                    $cancelDateRangeBtn.hide(); // Hide the Cancel button
                }
            });
        });
    </script>




}
