@model ThinkEMR_Care.Core.Models.ProviderGroupProfile

<style>
    img {
        border: 100px solid thick;
        border-radius: 80px;
        padding: 100px;
        width: 500px;
        height: 1700px;
    }

    dt {
        font-weight: bold;
    }

</style>

<div>
    <div style="float: left;">
        <button class="btn btn-primary" onclick="location.href = '@(Url.Action("Details","Profile", new { Id = Model.Id }))'">Profile</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Locations")'">Locations</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Departments")'">Departments</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Patients")'">Patients</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Users")'">Users</button>
    </div>

    <div style="clear: both;"></div> <!-- Clear the float to prevent overlapping content -->
</div>
<br />

<form asp-action="ProfilePartial" asp-controller="Profile" method="get">
    <div>

        <div class="row">
            <input type="hidden" asp-for="Id" value="@Model.Id" />

            <div class="col-3" style="float: left;">
                <div>
                    <img src="~/hospital-windows.jpg" alt="Profile Image" class="img-thumbnail float-left" />
                </div>
            </div>
            <div class="col-9">
                <table style="border-collapse: separate; border-spacing: 0 5px;">
                    <tr>
                        <th>Provider Group Name</th>
                        <td>: @Html.DisplayFor(model => model.ProviderGroupName)</td>
                    </tr>
                    <tr>
                        <th>Website </th>
                        <td>: @Html.DisplayFor(model => model.Website)</td>
                    </tr>
                    <tr>
                        <th>Email Id </th>
                        <td>: @Html.DisplayFor(model => model.EmailId)</td>
                    </tr>
                    <tr>
                        <th>Speciality </th>
                        <td>: @Html.DisplayFor(model => model.SpecialityTypes)</td>
                    </tr>
                    <tr>
                        <th>Contact Number </th>
                        <td>: @Html.DisplayFor(model => model.ContactNumber)</td>
                    </tr>
                    <tr>
                        <th>Group NPI Number </th>
                        <td>: @Html.DisplayFor(model => model.GroupNPINumber)</td>
                    </tr>
                    <tr>
                        <th>Physical Address </th>
                        <td>: @Html.DisplayFor(model => model.PhysicalAddress.Address1)</td>
                    </tr>
                </table>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</form>
