@model ThinkEMR_Care.Core.Models.ProviderGroupProfile
@{
    ViewData["Title"] = "Details";
}
<style>
    img {
        border: 100px solid thick;
        border-radius: 80px;
        padding: 100px;
        width: 500px;
        height: 1700px;
    }

    dt {
        font-weight: bold;
    }


</style>

<div>
    <div style="float: left;">
        <button class="btn btn-primary">Profile</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Locations")'">Locations</button>
        <button class="btn btn-primary">Departments</button>
        <button class="btn btn-primary">Patients</button>
        <button class="btn btn-primary">Users</button>
    </div>

    <div style="float: right;">
        <button class="btn btn-primary">Cancel</button>
        <button class="btn btn-primary">Edit Profile</button>
    </div>
    <div style="clear: both;"></div> <!-- Clear the float to prevent overlapping content -->
</div>
<br />


<div class="row">
    <div class="col-3" style="float: left;">
        <div>
            <img src="~/hospital-windows.jpg" alt="Profile Image" class="img-thumbnail float-left" />
        </div>
    </div>
    <div class="col-9">
        <table>
            <tr>
                <th>Provider Group Name</th>
                <td>: @Model.ProviderGroupName</td>
            </tr>
            <tr>
                <th>Website </th>
                <td>: @Model.Website</td>
            </tr>
            <tr>
                <th>Email Id </th>
                <td>: @Model.EmailId</td>
            </tr>
            <tr>
                <th>Speciality </th>
                <td>: @Model.SpecialityType</td>
            </tr>
            <tr>
                <th>Contact Number </th>
                <td>: @Model.ContactNumber</td>
            </tr>
            <tr>
                <th>Group NPI Number </th>
                <td>: @Model.GroupNPINumber</td>
            </tr>
            <tr>
                <th>Physical Address </th>
                <td>: @Model.PhysicalAddressId</td>
            </tr>
        </table>
    </div>
    <div style="clear: both;"></div>
</div>
@*
@{
    Layout = "_Layout.cshtml";
    //Layout = "_ProfileLayout.cshtml"; // Specify the layout file you want to use
}
*@
<div>
    <table>
        <tr>
            <th>Information </th>
            <td>: @Model.Information</td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="col-6" style="float: left; border-right: 1px solid #000;">
        <table>
            <tr>
                <th>Practice Fax Number :</th>
                <td>: - </td>
            </tr>
            <tr>
                <th>EHR System </th>
                <td>: - </td>
            </tr>
            <tr>
                <th>Billing Address </th>
                <td>: - </td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table>
            <tr>
                <th>Provider Group Hours </th>
                <td>: - </td>
            </tr>
        </table>
    </div>
</div>


@*<script>
    document.getElementById("locationsButton").onclick = function () {
        var url = '@Url.Action("Locations", "Location")';
        window.location.href = url;
    };
</script>*@